a{
    cursor: pointer;
}
.red{
    color: red;
}
.center{
    text-align: center;
}
.mgtb{
    margin-top: 5px;
    margin-bottom: 5px;
}
.pull-right{
    display: none;
}
.fixed-table-loading{
    display: none;
}